/* body {
  background: linear-gradient(135deg, #ffeef4, #ffd6e5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Comic Sans MS", cursive;
  margin: 0;
  padding: 10px;
}

.container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: end;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 200px;
}

.envelope {
  width: 460px;
  height: 270px;
  background: #ff9dbb;
  position: relative;
  border-radius: 14px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 15px 30px rgba(255, 105, 180, 0.3);
}

.flap {
  position: absolute;
  inset: 0;
  background: #ff6f9c;
  clip-path: polygon(0 0, 50% 55%, 100% 0);
  transform-origin: top;

  transform: rotateX(0deg);

  transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 1;
}

.letter {
  position: absolute;
  bottom: -360px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #ffffff;
  border-radius: 12px;
  padding: 18px;
  font-size: 16px;
  line-height: 1.5;
  color: #ff4d79;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

  opacity: 0;
  visibility: hidden;

  transition: bottom 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.6s ease;

  transition-delay: 0.2s;

  z-index: 2;
}

.open {
  overflow: visible;
}

.open .flap {
  transform: rotateX(180deg);
}

.open .letter {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.4s;
}

@media (max-width: 480px) {
  .envelope {
    width: 360px;
    height: 200px;
  }

  .letter {
    font-size: 14px;
    padding: 14px;
    bottom: -360px;
  }

  .open .letter {
    bottom: 30px;
  }
} */
